In [1]:
import pymongo
import pandas as pd
from config import gkey

In [2]:
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [3]:
db = client.marathon_db

In [4]:
#giving csv varabiles
marathon15_file = "marathon_results_2015.csv"
marathon16_file = "marathon_results_2016.csv"
marathon17_file = "marathon_results_2017.csv"

In [5]:
mara15 = pd.read_csv(marathon15_file)
mara15["Year"] = "2015"
del mara15["Unnamed: 0"]
del mara15["Unnamed: 9"]

In [6]:
mara16 = pd.read_csv(marathon16_file)
mara16["Year"] = "2016"
del mara16["Unnamed: 8"]

In [7]:
mara17 = pd.read_csv(marathon17_file)
mara17["Year"] = "2017"
del mara17["Unnamed: 0"]
del mara17["Unnamed: 9"]

In [8]:
mara17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26399 entries, 0 to 26398
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bib            26399 non-null  object
 1   Name           26399 non-null  object
 2   Age            26399 non-null  int64
 3   M/F            26399 non-null  object
 4   City           26399 non-null  object
 5   State          20934 non-null  object
 6   Country        26399 non-null  object
 7   Citizen        1254 non-null   object
 8   5K             26399 non-null  object
 9   10K            26399 non-null  object
 10  15K            26399 non-null  object
 11  20K            26399 non-null  object
 12  Half           26399 non-null  object
 13  25K            26399 non-null  object
 14  30K            26399 non-null  object
 15  35K            26399 non-null  object
 16  40K            26399 non-null  object
 17  Pace           26399 non-null  object
 18  Proj Time      26399 non-null  object
 19  Official Time  26399 non-null  object
 20  Overall        26399 non-null  int64
 21  Gender         26399 non-null  int64
 22  Division       26399 non-null  int64
 23  lat            20934 non-null  float64
 24  long           20934 non-null  float64
 25  Year           26399 non-null  object
dtypes: float64(2), int64(4), object(20)
memory usage: 5.2+ MB

In [9]:
mara15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26584 entries, 0 to 26583
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bib            26584 non-null  object
 1   Name           26584 non-null  object
 2   Age            26584 non-null  int64
 3   M/F            26584 non-null  object
 4   City           26584 non-null  object
 5   State          21866 non-null  object
 6   Country        26584 non-null  object
 7   Citizen        1064 non-null   object
 8   5K             26584 non-null  object
 9   10K            26584 non-null  object
 10  15K            26584 non-null  object
 11  20K            26584 non-null  object
 12  Half           26584 non-null  object
 13  25K            26584 non-null  object
 14  30K            26584 non-null  object
 15  35K            26584 non-null  object
 16  40K            26584 non-null  object
 17  Pace           26584 non-null  object
 18  Proj Time      26584 non-null  object
 19  Official Time  26584 non-null  object
 20  Overall        26584 non-null  int64
 21  Gender         26584 non-null  int64
 22  Division       26584 non-null  int64
 23  lat            21866 non-null  float64
 24  long           21866 non-null  float64
 25  Year           26584 non-null  object
dtypes: float64(2), int64(4), object(20)
memory usage: 5.3+ MB

In [10]:
mara16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26620 entries, 0 to 26619
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bib            26620 non-null  object
 1   Name           26620 non-null  object
 2   Age            26620 non-null  int64
 3   M/F            26620 non-null  object
 4   City           26619 non-null  object
 5   State          21639 non-null  object
 6   Country        26620 non-null  object
 7   Citizen        1122 non-null   object
 8   5K             26620 non-null  object
 9   10K            26620 non-null  object
 10  15K            26620 non-null  object
 11  20K            26620 non-null  object
 12  Half           26620 non-null  object
 13  25K            26620 non-null  object
 14  30K            26620 non-null  object
 15  35K            26620 non-null  object
 16  40K            26620 non-null  object
 17  Pace           26620 non-null  object
 18  Proj Time      26620 non-null  object
 19  Official Time  26620 non-null  object
 20  Overall        26620 non-null  int64
 21  Gender         26620 non-null  int64
 22  Division       26620 non-null  int64
 23  lat            21639 non-null  float64
 24  long           21639 non-null  float64
 25  Year           26620 non-null  object
dtypes: float64(2), int64(4), object(20)
memory usage: 5.3+ MB

In [11]:
merged_df = mara15.append(mara16)
merged_df = merged_df.append(mara17)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79603 entries, 0 to 26398
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bib            79603 non-null  object
 1   Name           79603 non-null  object
 2   Age            79603 non-null  int64
 3   M/F            79603 non-null  object
 4   City           79602 non-null  object
 5   State          64439 non-null  object
 6   Country        79603 non-null  object
 7   Citizen        3440 non-null   object
 8   5K             79603 non-null  object
 9   10K            79603 non-null  object
 10  15K            79603 non-null  object
 11  20K            79603 non-null  object
 12  Half           79603 non-null  object
 13  25K            79603 non-null  object
 14  30K            79603 non-null  object
 15  35K            79603 non-null  object
 16  40K            79603 non-null  object
 17  Pace           79603 non-null  object
 18  Proj Time      79603 non-null  object
 19  Official Time  79603 non-null  object
 20  Overall        79603 non-null  int64
 21  Gender         79603 non-null  int64
 22  Division       79603 non-null  int64
 23  lat            64439 non-null  float64
 24  long           64439 non-null  float64
 25  Year           79603 non-null  object
dtypes: float64(2), int64(4), object(20)
memory usage: 16.4+ MB

In [12]:
merged_df.head()

,Bib,Name,Age,M/F,City,State,Country,Citizen,5K,10K,...,40K,Pace,Proj Time,Official Time,Overall,Gender,Division,lat,long,Year
0,3,"Desisa, Lelisa",25,M,Ambo,NaN,ETH,NaN,0:14:43,0:29:43,...,2:02:39,0:04:56,-,2:09:17,1,1,1,NaN,NaN,2015
1,4,"Tsegay, Yemane Adhane",30,M,Addis Ababa,NaN,ETH,NaN,0:14:43,0:29:43,...,2:02:42,0:04:58,-,2:09:48,2,2,2,NaN,NaN,2015
2,8,"Chebet, Wilson",29,M,Marakwet,NaN,KEN,NaN,0:14:43,0:29:43,...,2:03:01,0:04:59,-,2:10:22,3,3,3,NaN,NaN,2015
3,11,"Kipyego, Bernard",28,M,Eldoret,NaN,KEN,NaN,0:14:43,0:29:44,...,2:03:47,0:05:00,-,2:10:47,4,4,4,NaN,NaN,2015
4,10,"Korir, Wesley",32,M,Kitale,NaN,KEN,NaN,0:14:43,0:29:44,...,2:03:27,0:05:00,-,2:10:49,5,5,5,NaN,NaN,2015

In [ ]:
merged_df.State.unique()

In [ ]:
merged_df.Country.unique()

In [ ]:
base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"
for index, row in merged_df.iterrows():
    state = row['State']
    country = row['Country']
    if pd.isnull(state):
        #get geolocation of country
        params = {"query": str(country),
                "key": gkey}
    else: 
        #get geoLocation of state
        params = {
            "query": str(state) + '+' + str(country),
                "key": gkey
        }
    response = requests.get(base_url, params=params).json()
   # try:
    #        df.loc[index, 'Place ID'] = response_json['results'][0]['place_id']
     #   except (KeyError, IndexError, ValueError, json.JSONDecodeError, TypeError):
      #      print(f'{name} - Could not find Google PlaceID')
response

In [13]:
data = []
for index, row in merged_df.iterrows():
    post={
        'Name' : str(row["Name"]),
        'Age' : int(row["Age"]),
        'Bib' : str(row["Bib"]),
        'Gender': str(row["M/F"]),
        'City': str(row["City"]),
        'State': str(row["State"]),
        'Country' : str(row["Country"]),
        'Half Marathon Split' : str(row["Half"]),
        'Offical Time' : str(row["Official Time"]),
        'Pace': str(row["Pace"]),
        'Finishing Place': int(row["Overall"]),
        'Division Placement' : int(row["Division"]),
        'Latitude' : str(row["lat"]),
        'Longitude' : str(row["long"]),
        'Year' : str(row["Year"])}
    data.append(post)

In [14]:
db.marathon.insert_many(data)