In [1]:
import pymongo
import pandas as pd

In [2]:
#making connection to mongoDB
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [3]:
#Creating database name
db = client.marathon_db

In [4]:
#giving csv varabiles
marathon15_file = "marathon_results_2015.csv"
marathon16_file = "marathon_results_2016.csv"
marathon17_file = "marathon_results_2017.csv"

In [5]:
#reading csv and dropping unnamed columns
mara15 = pd.read_csv(marathon15_file)
mara15["Year"] = "2015"
del mara15["Unnamed: 0"]
del mara15["Unnamed: 9"]

In [6]:
mara16 = pd.read_csv(marathon16_file)
mara16["Year"] = "2016"
del mara16["Unnamed: 8"]

In [7]:
mara17 = pd.read_csv(marathon17_file)
mara17["Year"] = "2017"
del mara17["Unnamed: 0"]
del mara17["Unnamed: 9"]

In [11]:
#merging all datasets into 1 dataset
merged_df = mara15.append(mara16)
merged_df = merged_df.append(mara17)
#printing info to make sure it all worked
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 79603 entries, 0 to 26398
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bib            79603 non-null  object
 1   Name           79603 non-null  object
 2   Age            79603 non-null  int64
 3   M/F            79603 non-null  object
 4   City           79602 non-null  object
 5   State          64439 non-null  object
 6   Country        79603 non-null  object
 7   Citizen        3440 non-null   object
 8   5K             79603 non-null  object
 9   10K            79603 non-null  object
 10  15K            79603 non-null  object
 11  20K            79603 non-null  object
 12  Half           79603 non-null  object
 13  25K            79603 non-null  object
 14  30K            79603 non-null  object
 15  35K            79603 non-null  object
 16  40K            79603 non-null  object
 17  Pace           79603 non-null  object
 18  Proj Time      79603 non-null  object
 19  Official Time  79603 non-null  object
 20  Overall        79603 non-null  int64
 21  Gender         79603 non-null  int64
 22  Division       79603 non-null  int64
 23  lat            64439 non-null  float64
 24  long           64439 non-null  float64
 25  Year           79603 non-null  object
dtypes: float64(2), int64(4), object(20)
memory usage: 16.4+ MB

In [13]:
#choosing which columns we want stored in our database
data = []
for index, row in merged_df.iterrows():
    post={
        'Name' : str(row["Name"]),
        'Age' : int(row["Age"]),
        'Bib' : str(row["Bib"]),
        'Gender': str(row["M/F"]),
        'City': str(row["City"]),
        'State': str(row["State"]),
        'Country' : str(row["Country"]),
        'Half Marathon Split' : str(row["Half"]),
        'Offical Time' : str(row["Official Time"]),
        'Pace': str(row["Pace"]),
        'Finishing Place': int(row["Overall"]),
        'Division Placement' : int(row["Division"]),
        'Latitude' : str(row["lat"]),
        'Longitude' : str(row["long"]),
        'Year' : str(row["Year"])}
    data.append(post)

In [14]:
#inserting data into databse
db.marathon.insert_many(data)